Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Characters
/Content/LevelPrototyping
/Content/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap
/Content/__ExternalObjects__/ThirdPerson/Maps/ThirdPersonMap
/Content/Audio/Sounds/Footsteps
